/* Style for product container */
#info {
    display: flex;
    flex-wrap: wrap;
}

/* Style for individual product */
.img {
    width: calc(50% - 5px); /* Two items per row with 20px spacing */
}

.img img {
    width: 80%;
    height: 70%;
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-desc {
    margin-top: 2px;
}

.img-desc h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.img-desc button {
    margin-top: 8px;
    margin-left: 170px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.img-desc button:hover {
    background-color: #0056b3;
}

h1{
    text-align: center;
    font-size: 50px;
}

h4{
    font-size: 60px;
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center; 
}


/* Adjust for smaller screens */
@media (max-width: 768px) {
    .img {
        width: 100%; /* Single item per row on smaller screens */
    }
}
